@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

:root {
  --font: 'DM Sans', sans-serif;
}

body {
 background-image: linear-gradient( 102.7deg, rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% );
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 40vh;
  overflow: hidden;
  z-index: 300;
}

.app {
  max-width: 400px;
  width: 100%;
  margin: auto;
  background-color: #fff;
  font-family: var(--font);
  border-radius: 16px;
  font-size: 15px;
  overflow: hidden;
  color: #455963;
  box-shadow: 0 20px 80px rgba(0,0,0,.3);
  z-index: 100;
} 


.detail{
  z-index: 9999;
  position: absolute;
  top: 35%;
  left: 50%;
  background-color: #fff;
  border-radius: 16px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  max-width: 400px;
  width: auto;
  font-family: var(--font);
  box-shadow: 0 20px 80px rgba(0,0,0,.3);
  transform: translate(-50%, -50%);
  font-size: 16px;
}
h4{
  margin: 0px 0px 20px 0px;
}

.task-list {
  max-height: 58vh;
  overflow: auto;
}

.picker{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.picker > fieldset, input{
  display: inline-block;
  vertical-align:middle;
}

.task-status {
  appearance: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid #bbbdc7;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
}


.task-status:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='405.272' height='405.272'%3e%3cpath d='M393.401 124.425L179.603 338.208c-15.832 15.835-41.514 15.835-57.361 0L11.878 227.836c-15.838-15.835-15.838-41.52 0-57.358 15.841-15.841 41.521-15.841 57.355-.006l81.698 81.699L336.037 67.064c15.841-15.841 41.523-15.829 57.358 0 15.835 15.838 15.835 41.514.006 57.361z' fill='%23fff'/%3e%3c/svg%3e");
  background-size: 10px;
  background-color: #4acea3;
  border-color: #38bb90;
  background-repeat: no-repeat;
  background-position: center;
}


/* ----sort---- */


.sort-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #eef0f5;
}

.task-sorter {  
  margin-right: auto;
  background: 0;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font);
  color: #8a9ca5;
}

.task-sorter.left{
  border-right: 1px solid #eef0f5;
  padding-left: 15px;
}

.task-sorter.right{
  padding-left: 3em;
  padding-right: 3em;
  border-left: 1px solid #eef0f5;
}

.task-sort {
  padding: 0px 15px 0px 0px;
  border: 0;
  background: 0;
  cursor: pointer;
  font-family: var(--font);
  color: #8a9ca5;
}


/* ----sort---- */

.pony-dontcare {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #bbbdc7;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
}

.pony-wantout {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #bbbdc7;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='405.272' height='405.272'%3e%3cpath d='M393.401 124.425L179.603 338.208c-15.832 15.835-41.514 15.835-57.361 0L11.878 227.836c-15.838-15.835-15.838-41.52 0-57.358 15.841-15.841 41.521-15.841 57.355-.006l81.698 81.699L336.037 67.064c15.841-15.841 41.523-15.829 57.358 0 15.835 15.838 15.835 41.514.006 57.361z' fill='%23fff'/%3e%3c/svg%3e");
  background-size: 10px;
  background-color: #4acea3;
  border-color: #38bb90;
  background-repeat: no-repeat;
  background-position: center;
}

.pony-wantnotout {
  border: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 10px;
  overflow: hidden;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23dc4771' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 174.239 174.239'%3e%3cpath d='M87.12 0C39.082 0 0 39.082 0 87.12s39.082 87.12 87.12 87.12 87.12-39.082 87.12-87.12S135.157 0 87.12 0zm0 159.305c-39.802 0-72.185-32.383-72.185-72.185S47.318 14.935 87.12 14.935s72.185 32.383 72.185 72.185-32.384 72.185-72.185 72.185z'/%3e%3cpath d='M120.83 53.414c-2.917-2.917-7.647-2.917-10.559 0L87.12 76.568 63.969 53.414c-2.917-2.917-7.642-2.917-10.559 0s-2.917 7.642 0 10.559l23.151 23.153-23.152 23.154a7.464 7.464 0 000 10.559 7.445 7.445 0 005.28 2.188 7.437 7.437 0 005.28-2.188L87.12 97.686l23.151 23.153a7.445 7.445 0 005.28 2.188 7.442 7.442 0 005.28-2.188 7.464 7.464 0 000-10.559L97.679 87.127l23.151-23.153a7.465 7.465 0 000-10.56z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}


.task-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 8px 10px;
  
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #8a9ca5;
  font-size: 10px;
}

.right {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto; 
  margin-right: 0;
}

.header{
  display: flex;
  flex-wrap: wrap;
}

.add {
  margin-left: auto;
  margin-top:5%;
  margin-right: 5%;
  cursor: pointer;
}

.close {
  margin-left: auto;
  cursor: pointer;
}

.right div{
  margin: 10px;
}

.task-item + .task-item {
  border-top: 1px solid #eef0f5;
}

.edit {
  cursor: pointer;
}

.task-name {
  margin-right: auto;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.task-item.wantsout {
  background-color: rgba(74, 206, 163, 0.1);
}
.task-item.wantsnotout {
  background-color: rgba(206, 74, 74, 0.1);
}

.task-header-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 20px 6px 20px;
}

.task-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 20px;
}

.task-filter {
  border: 0;
  padding: 5px 10px;
  background: 0;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  font-family: var(--font);
  color: #8a9ca5;
  border-radius: 20px;
}



.task-filter.is-active {
  background-color: #7996a5;
  color: #fff;
}

.task-count {
  color: #8a9ca5;
  font-size: 14px;
}

.task-form {
  display: flex;
  margin-top: 10px;
}

.task-input input {
  flex: 1;
  font-size: 16px;
  width: auto;
  font-family: var(--font);
  margin-left: 10px;
  padding: 5px 0px 5px 0px;
  outline: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  border-style: inset;
}


.btn{
    border: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    font-family: var(--font);
    color: #353c3f;
    border-radius: 20px;
}

.select-wrapper > select{
  margin-left: 10px;
  font-family: var(--font);
  
  font-size: 16px;
  appearance: none;
  padding: 0 20px 0 5px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}



.select-wrapper > select::-ms-expand {
  display: none;
}

.select-wrapper {
  font-family: var(--font);
  position: relative;
}

.select-wrapper::after {
  content: " ";
  position: relative;
  margin-left: auto;
  left: -20px;
  top: 14px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #aaa transparent transparent transparent;
  pointer-events: none;
}



.btn.save{
  background-color: MediumAquaMarine;
}

.btn.delete{
  background-color: rgba(240, 11, 57, 0.726);
}

.task-input::placeholder {
  color: #a8b5bb;
}

.task-button { display: none; }




.task-empty {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23f4f4f4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 486.463 486.463'%3e%3cpath d='M243.225 333.382c-13.6 0-25 11.4-25 25s11.4 25 25 25c13.1 0 25-11.4 24.4-24.4.6-14.3-10.7-25.6-24.4-25.6z'/%3e%3cpath d='M474.625 421.982c15.7-27.1 15.8-59.4.2-86.4l-156.6-271.2c-15.5-27.3-43.5-43.5-74.9-43.5s-59.4 16.3-74.9 43.4l-156.8 271.5c-15.6 27.3-15.5 59.8.3 86.9 15.6 26.8 43.5 42.9 74.7 42.9h312.8c31.3 0 59.4-16.3 75.2-43.6zm-34-19.6c-8.7 15-24.1 23.9-41.3 23.9h-312.8c-17 0-32.3-8.7-40.8-23.4-8.6-14.9-8.7-32.7-.1-47.7l156.8-271.4c8.5-14.9 23.7-23.7 40.9-23.7 17.1 0 32.4 8.9 40.9 23.8l156.7 271.4c8.4 14.6 8.3 32.2-.3 47.1z'/%3e%3cpath d='M237.025 157.882c-11.9 3.4-19.3 14.2-19.3 27.3.6 7.9 1.1 15.9 1.7 23.8 1.7 30.1 3.4 59.6 5.1 89.7.6 10.2 8.5 17.6 18.7 17.6s18.2-7.9 18.7-18.2c0-6.2 0-11.9.6-18.2 1.1-19.3 2.3-38.6 3.4-57.9.6-12.5 1.7-25 2.3-37.5 0-4.5-.6-8.5-2.3-12.5-5.1-11.2-17-16.9-28.9-14.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 500;
  font-size: 18px;
  background-size: 80px;
}



.bg{
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}




/* PERFEDEHINTERGRUND */



.svgdefs{
  z-index: -10000;
}
/* vars for colors, dimensions, durations */
:root {
    --color-horse-1: #181617;
    --color-horse-2: #080607;
    --color-fg-start: transparent;
    --color-fg-mid: #74708c;
    --color-fg-end: #343043;
    --color-scroller-mid: #554067;
    --color-scroller-far: #6a4b7c;
    --color-sky-high: #030d63;
    --color-sky-mid: #3a8dbf;
    --color-sky-low: #0d2d6d;
    --color-sky-dawn: #ff3255;
    --color-sun-inner: #ffffff;
    --color-sun-glow: rgba(253, 232, 88, 0.7);
    --color-sun-outer: transparent; 
    
    --width-scroller-far: 350vw;
    --width-scroller-mid: 250vw;
    --width-horses: 19vw;
    
    --time-horse-1: 857ms;    
    --time-horse-2: 759ms;
    --time-run-fast: 61s;
    --time-run-slow: 85s;
    --time-scroller-far: 163s;
    --time-scroller-mid: 31s;
}

.scroller {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    bottom: 0;
    z-index: -10000;
}

.scroller-image {
    fill: currentColor;
    margin-left: -2px; /* avoid hairline between svgs */
}

.scroller_far {
  
    bottom: -24vw;
    color: var(--color-scroller-far);
}

.scroller_far .scroller-image {
    width: calc(var(--width-scroller-far) + 1px);
    animation: scroll linear var(--time-scroller-far) infinite;
/*      filter: url(#blur1); */
}

.scroller_mid {
    padding-bottom: 10vw;
    color: var(--color-scroller-mid);
    background: linear-gradient(to bottom, transparent 50%, var(--color-scroller-mid) 51%);
/*      filter: url(#blur05); */
}

.scroller_mid .scroller-image {
    width: calc(var(--width-scroller-mid) + 1px);
    padding-bottom: 0;
    animation: scroll linear var(--time-scroller-mid) infinite;
}

.runWrapper {
    position: absolute;
    left: -86px;
    bottom: 10px;
    height: calc(var(--width-horses) / 2);
    width: var(--width-horses);
    overflow: hidden;
    transform: translate3d(0,0,0);
} 

.runWrapper_fast {
    animation: catchup var(--time-run-fast) ease-in-out infinite;
    margin-bottom: 10px;
}
 
.runWrapper_slow {
    animation: steady var(--time-run-fast) ease-in-out infinite;
}

.run {
    position: absolute;
    max-height: 100%;
    fill: currentColor;
}

.run_1 {
    width: calc(var(--width-horses) * 10);
    animation: walk-cycle-1 var(--time-horse-1) steps(10) infinite;
    color: var(--color-horse-1);
    transform: translateX(1%);
}

.run_2 {
    width: calc(var(--width-horses) * 19.1);
    animation: walk-cycle-2 var(--time-horse-2) steps(19) infinite;
    color:  var(--color-horse-2);
}
 
.foreground, .midground, .background {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0; 
    left: 0;
    overflow: hidden;
    z-index: -1000;
}
 
.foreground {
    height: 45px;
    bottom: 0;
    background: linear-gradient(to bottom, var(--color-fg-start), var(--color-fg-mid) 70%,  var(--color-fg-end));
}

/* Sky (gradients) */


.svgdefs {
    display: none;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

/* Sprint, then slow */
@keyframes catchup {
    0% {transform: translateX(4vw);}
    10% {transform: translateX(85vw);}
    70% {transform: translateX(36vw);}
    78% {transform: translateX(62vw);}
    100% {transform: translateX(4vw);}
}

/* Varying speed/position */
@keyframes steady {
    0% {transform: translateX(40vw);}
    18% {transform: translateX(70vw);}
    60% {transform: translateX(36vw);}
    82% {transform: translateX(18vw);}
    100% {transform: translateX(40vw);}
}

/* step through frames horizontally; assumes an image with x number (set when the animation is called) of equidistant frames */ 
@keyframes walk-cycle-1 {
    /* position last frame */
    100% {transform: translateX(-92.5%);} 
}

@keyframes walk-cycle-2 {  
    /* position last frame */
    100% {transform: translateX(-95%);} 
}


